*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #2c0000;
    color: #faebd0;
}
#nav{
    padding: 10px 30px;
    background-color: #000000;
}
#ul{
    margin: 0px;
}
li{
    color: #ffffff;
    display: inline;
    padding: 10px 22px;
    transition-duration: 0.3s;
}
li:hover{
    color: #610909;
    font-size: large;
    cursor: pointer;
}
#main{
    display: inline-block;
    height: 800px;
}
#left{
    width: 50%;
    float: left;
    padding: 40px 10px 0 50px;
}

#right{
    width: 50%;
    float: left;
    padding: 10px 40px;
}
#name-heading{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
#para{
    color: #f0093b;
    font-family: 'Nunito', sans-serif;
}
footer{
    background-color: #10022c;
    text-align: center;
    padding: 10px;
}