*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: #0c0022;
    color: #faebd0;
}
#nav{
    padding: 10px 30px;
    background-color: #130135;
}
#ul{
    margin: 0px;
}
li{
    color: #d89d9d;
    display: inline;
    padding: 10px 22px;
    transition-duration: 0.3s;
}
li:hover{
    color: #fff;
    font-size: large;
    cursor: pointer;
    padding: 10px 22px !important;

}
#main{
    display: inline-block;
}
#left{
    width: 50%;
    float: left;
    padding: 0px 10px 0 50px;
}

#right{
    width: 50%;
    float: left;
    padding: 10px 40px;
}
#name-heading{
    text-align: center;
}
#para{
    color: aqua;
}
footer